h1 {
  text-align: center;
}

#currency_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#currency_table td,
#currency_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#currency_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#currency_table tr:hover {
  background-color: #ddd;
}

#currency_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
